p{
    margin: 3px 0;
}

.buttons{
    width:100%;
    display:flex;
    justify-content: space-between;
}

.answers{
    font-family: Roboto;
    font-size:24px;
    display:flex;
}
.answers input{
    cursor:pointer;
}
.answers label{
    cursor:pointer;
}